/*@font-face{
	font-family: "Gotham";
	src: url("../fonts/Gotham-Black.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}*/
body{
    margin: 0;
    padding: 0;
}
.theme-name{
    margin-top: 40px;
    padding-left: 30px;
}
.content .pic-box{
    overflow: hidden;
    display: inline-block;
}
.content .introduction-box{
    padding-left: 450px;
}