<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cars</title>
    <link rel="stylesheet" type="text/css" href="../css/theme.css">
</head>
<body>
    <div class="container">
        <div class="theme-name">
            <h1>Contacts</h1>
        </div>
        <div class="content">
            <div class="pic-box">
                <img src="../images/f1.jpg" alt="porsche">
            </div>
            <div class="introduction-box">
                <h4>Ferrari F12berlinetta</h4>
            </div>
        </div>
    </div>
</body>
</html>